<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Online Shoping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">T-shirt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Jeans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Shorts</a>
        </li>
        <li>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#e401">Open 401</button>
        </li>
        <li>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#e404">Open 404</button>
        </li>
        <li>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#e500">Open 500</button>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
        <button type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
</nav>


<div class="modal" id="e401">
  <div class="modal-dialog">
    <div class="modal-content">
      <img class="modal-dialog" src="/assets/e401.jpg">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<div class="modal" id="e404">
  <div class="modal-dialog">
    <div class="modal-content">
      <img class="modal-dialog" src="/assets/e404.jpeg">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<div class="modal" id="e500">
  <div class="modal-dialog">
    <div class="modal-content">
      <img class="modal-dialog" src="/assets/blog-gsoft-500.jpg">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
